

<form action="/lab/create" method="POST" id="lab-sign-up-form" class="form-signin">
<h1>Users, groups, communities.</h1>
	<h2 class="form-signin-heading">Create a lab</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="lab name" name="name">
	</div>
	<div class="control-group">
	<input type="text" class="form-control" placeholder="comment" name="comment">
	</div>
	<div class="control-group">
	Created by:<input type="text" class="form-control" placeholder="owner" name="owner" value=<%=req.session.User.name%> readonly>
	</div>
	
	<div class="control-group">
	<select multiple class="form-control" name="users">

	<% _.each(usrs, function(user) {%>
       <option><%=user.name%></option>
    <% }) %>
	
	
	  
	</select>
	</div>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Lab"/>
	
	
	
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

