<h1>Metabolic network Layout</h1>
<form action="/metabolic_net_layout/create" method="POST" id="metabolic-net-layout-sign-up-form" enctype="multipart/form-data" class="form-signin">
	<h2 class="form-signin-heading">Create a new metabolic network layout</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="metabolic network layout name" name="name">
	</div>
	<div class="control-group">
	<input type="text" class="form-control" placeholder="comment" name="comment">
	</div>
	<div class="control-group">Select one metabolic network:
	<select class="form-control" name="metabolic_net">
		<% _.each(mtbs, function(mtb) {%>
		   <option><%=mtb%></option>
		<% }) %>
		</select>
	</div>
	<br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Metabolic Network Layout"/>
	
	
	
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
